sus.txt
.vscode
build
build*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
*.ninja
.ninja_*
generated/
pico-sdk/
*.bin
*.dis
*.elf
*.elf.map
*.hex
*.uf2
pico_sdk_import.cmake
sandbox.py
/tmp*
ISM330DHCX-PID/
build_and_run_mount.sh
sandbox*
.venv
